.login-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    padding: 2rem;
    border-radius: 16px;
    color: #fff;
    z-index: 10;
    width: 300px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.login-box h2 {
    margin-bottom: 1rem;
}

.login-box input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

.login-box button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background: #0063d3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    padding: 0.5rem 1rem;
    background: #0088cc;
}
